body{
text-align:center;
background:#70f;
color:antiquewhite;
}

img{
    border: 5px green solid
    border-radius: 40px    
}
ul{
    padding-left: 320px;
    padding-right: 320px;
    list-style: disc;
}
ol{
    padding-left: 320px;
    padding-right: 320px
    listl-style:lower-roman    
}